@model  SistemaDeVideoClub.Entidades.ViewModels.Pelicula.PeliculaEditViewModel
@{
    ViewBag.Title = "Crear";
}

<div class="container">
    <h2>Nueva Pelicula</h2>
    <hr />
    @using (Html.BeginForm("Create", "Peliculas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Titulo)
                                            @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control", autofocus = "autofocus" })
                                            @Html.ValidationMessageFor(m => m.Titulo, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col">

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.DuracionEnMinutos)
                                                @Html.TextBoxFor(m => m.DuracionEnMinutos, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.DuracionEnMinutos, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col">

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Activa)
                                                @Html.CheckBoxFor(m => m.Activa, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Activa, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.FechaIncorporacion)
                                                    @Html.TextBoxFor(m => m.FechaIncorporacion, "{0:dd/MM/yyyy}", new { @class = "form-control", @Value = DateTime.Today.ToShortDateString() })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CalificacionId)
                                            @Html.DropDownListFor(m => m.CalificacionId, new SelectList(Model.Calificaciones, "CalificacionId", "Descripcion"), "Seleccione Calificacion", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CalificacionId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EstadoId)
                                            @Html.DropDownListFor(m => m.EstadoId, new SelectList(Model.Estados, "EstadoId", "Descripcion"), "Seleccione Estado", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EstadoId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.GeneroId)
                                            @Html.DropDownListFor(m => m.GeneroId, new SelectList(Model.Generos, "GeneroId", "Descripcion"), "Seleccione Genero", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.GeneroId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Alquilado)
                                            @Html.CheckBoxFor(m => m.Alquilado, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Alquilado, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Observaciones)
                                            @Html.TextBoxFor(m => m.Observaciones, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Observaciones, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <h2>Imagen de la pelicula</h2>

                                            <div class="well">
                                                <img id="imgSalida" src="@Url.Content(Model.Imagen)" alt="Imagen" style="width: 50%">
                                                <div class="caption">
                                                    <p>@Model.Titulo</p>
                                                </div>
                                                <span class="btn btn-default btn-file" id="file-input">
                                                    @Html.TextBoxFor(modelo => modelo.ImagenFile, new { type = "file" })
                                                </span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Guardar</button>
                                            <a href="@Url.Action("Index", "Peliculas")" class="btn btn-success">Volver</a>

                                        </div>
                                    </div>

                                </div>}

</div>              

    @section scripts
{
        <script>
    $(document).ready(function () {
                $('#file-input').change(function (e) { });

                function addImage(e) {
                    var file = e.target.files[0], imageType = /image.*/;

                    if (!file.type.match(imageType))
                        return;

                    var reader = new FileReader();
                    reader.onload = fileOnload;
                    reader.readAsDataURL(file);
                }

                function fileOnload(e) {
                    var result = e.target.result;
                    $('#imgSalida').attr("src", result);
                }

            });</script>

    }
