@model  SistemaDeVideoClubASPMVC.ViewModels.Provincia.ProvinciaEditViewModel

@{
    ViewBag.Title = "Edit";
}
<h2>Editar Provincia </h2>
<hr />

@using (Html.BeginForm("Edit", "Provincias", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProvinciaId)
    <div class="form-group">
        @Html.LabelFor(m => m.NombreProvincia)
        @Html.TextBoxFor(m => m.NombreProvincia, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NombreProvincia, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button class="btn btn-warning" type="submit"><i class="fas fa-edit"></i> Editar</button>
        <a href="@Url.Action("Index", "Provincias")" class="btn btn-success">
            <i class="fas fa-backspace"></i>
            Volver
        </a>

    </div>}
