@model  SistemaDeVideoClub.Entidades.ViewModels.TipoDeDocumento.TipoDeDocumentoEditViewModel

@{ ViewBag.Title = "Delete"; }

<h2>Borrar Tipo De Documento</h2>

@using (Html.BeginForm("Delete", "TipoDeDocumento", FormMethod.Post))
{
@Html.ValidationSummary()
                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.TipoDeDocumentoId)
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Descripcion)
                                                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", disabled = "disable" })
                                                </div>

                                                                <div class="form-group">
                                                                    <button class="btn btn-danger">
                                                                        <i class="fas fa-trash-alt"></i>
                                                                        Borrar
                                                                    </button>
                                                                    <a href="@Url.Action("Index", "TipoDeDocumento")" class="btn btn-success">
                                                                        <i class="fas fa-backspace"></i>
                                                                        Volver
                                                                    </a>
                                                                </div>}