@model IEnumerable<SistemaDeVideoClub.Entidades.ViewModels.Alquiler.AlquilerListViewModel>

@{ ViewBag.Title = "Index"; }

<h2>Alquileres</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlquilerId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Socio)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FechaAlquiler)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AlquilerId)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Socio.Apellido)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.FechaAlquiler)
    </td>

    <td>
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
    </td>
</tr>}

</table>
