@model  SistemaDeVideoClub.Entidades.ViewModels.Soporte.SoporteListViewModel
@{ ViewBag.Title = "Create"; }

<div class="container">
    <h2>Nuevo Soporte</h2>
    <hr />

     @using (Html.BeginForm("Create", "Soporte", FormMethod.Post))
     {
    
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Descripcion)
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <a href="@Url.Action("Index", "Soporte")" class="btn btn-success">Volver</a>

                </div>
     }
</div>
