@model   SistemaDeVideoClubASPMVC.ViewModels.Localidad.LocalidadListViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Localidad</h2>

@using (Html.BeginForm("Delete", "Localidades", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.LocalidadId)
    <div class="form-group">
        @Html.LabelFor(m => m.NombreLocalidad)
        @Html.TextBoxFor(m => m.NombreLocalidad, new { @class = "form-control", disabled = "disable" })
    </div>

    <div class="form-group">
        <button class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            Borrar
        </button>
        <a href="@Url.Action("Index", "Localidades")" class="btn btn-success">
            <i class="fas fa-backspace"></i>
            Volver
        </a>
    </div>
}

