@model IEnumerable<SistemaDeVideoClubASPMVC.ViewModels.Genero.GeneroListViewModel>

@{
    ViewBag.Title = "Generos";
}


@if (TempData["Msg"] != null)
{
    var msg = (string)TempData["Msg"];
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> @msg.
    </div>}
<div>
    <a href="@Url.Action("Create", "Generos")" class="btn btn-primary" style="float: right">
        <i class="far fa-file-alt"></i>
        Nuevo
    </a>
    <h2>Lista de Generos</h2>
    <hr />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a href="@Url.Action("Edit","Generos",new{id=item.GeneroId})" class="btn btn-warning"><i class="fas fa-edit"></i> Editar</a>
                <a href="@Url.Action("Details","Generos",new{id=item.GeneroId})" class="btn btn-info"><i class="fas fa-edit"></i> Detalles</a>
                <a href="@Url.Action("Delete","Generos",new{id=item.GeneroId})" class="btn btn-danger"><i class="fas fa-edit"></i> Borrar</a>
            </td>
        </tr>
    }

</table>
